
.topartist-section {
  padding: 80px 80px;
  background: radial-gradient(circle at center,   
               #7A005A 0%,
               #1B0036 50%,    
               #1B0036 75%,   
               #1B0036 100% );
  width: 100%;
}

.topartist-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  max-width: 1400px;
  margin: auto;
}

.topartist-left {
  width: 40%;
  color: rgb(227, 214, 214);
}

.topartist-left h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.topartist-left h2 span {
  color: #f5a3ff;
  opacity: 0.8;
}

.topartist-left p {
  max-width: 580px;
  font-size: 17px;
  line-height: 1.7;
  color: #d9cbe3;
  margin-bottom: 40px;
}

.artist-row {
  display: flex;
  gap: 25px;
}

.artist-row img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  background: #320035;
  padding: 4px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.artist-row img:hover {
  transform: scale(1.1);
}

.topartist-right {
  width: 40%;
  display: flex;
  justify-content: center;
}

.topartist-right img {
  max-height: 480px;
  object-fit: contain;
  margin-left: -600px;
  filter: drop-shadow(0px 20px 40px rgba(0,0,0,0.6));
}


/* Responsive */
@media screen and (max-width: 900px) {
  .topartist-container {
    flex-direction: column;
    text-align: center;
  }

  .topartist-left,
  .topartist-right {
    width: 100%;
  }

  .artist-row {
    justify-content: center;
  }

  .topartist-right img {
    max-height: 300px;
  }
}

